<a href="https://colab.research.google.com/github/DheerajGolla9/PDS/blob/Assignment-3/Assign_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import pandas as pd
import numpy as np
from datetime import datetime

In [99]:
df = pd.read_csv("/content/train.csv")
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [100]:
print("Initial dataset shape:", df.shape)
print("Missing values:\n", df.isnull().sum())

Initial dataset shape: (5847, 14)
Missing values:
 Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

# Drop 'New_Price' due to high number of missing values

In [101]:
df.drop(columns=['New_Price'], inplace=True)

# Fill missing values

In [102]:
df['Mileage'].fillna(df['Mileage'].mode()[0], inplace=True)
df['Engine'].fillna(df['Engine'].mode()[0], inplace=True)
df['Power'].fillna(df['Power'].mode()[0], inplace=True)
df['Seats'].fillna(df['Seats'].median(), inplace=True)

<ipython-input-102-e755010fa64b>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mileage'].fillna(df['Mileage'].mode()[0], inplace=True)
<ipython-input-102-e755010fa64b>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Engine'].fillna(df['Engine'].mode()[0], inplace=True)
<ipython-input-102-e755010fa64b>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Power'].fillna(df['Power'].mode()[0], inplace=True)
<ipython-input-102-e755010fa64b>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Seats'].fillna(df['Seats'].median(), inplace=True)

In [103]:
print("Missing values:\n", df.isnull().sum())

Missing values:
 Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

# Remove units (e.g., "kmpl", "CC", "bhp") and convert to float

In [104]:
df['Mileage'] = df['Mileage'].str.extract(r'(\d+\.\d+|\d+)').astype(float)
df['Engine'] = df['Engine'].str.extract(r'(\d+\.\d+|\d+)').astype(float)
df['Power'] = df['Power'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

# One-hot encode categorical variables

In [105]:
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,False,False,True
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,True,True
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,False,False,True
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,False,False,True
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,False,False,True
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,False,False,True
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,False,True,True
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,False,False,True

# Create a new derived feature: Car Age

In [106]:
current_year = datetime.now().year
df['Car_Age'] = current_year - df['Year']
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,False,False,True,10
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,True,True,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,False,False,True,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,False,False,False,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,False,False,True,12

# Select specific columns

In [107]:
selected_df = df[['Name', 'Location', 'Year', 'Car_Age', 'Mileage', 'Engine', 'Power', 'Price']]

# Filter cars with mileage greater than 20 kmpl

In [108]:
filtered_df = selected_df[selected_df['Mileage'] > 20]

# Rename column: Power → Horsepower

In [109]:
renamed_df = filtered_df.rename(columns={'Power': 'Horsepower'})

# Mutate: Create Mileage per Year (avoid division by zero with +1)

In [110]:
renamed_df['Mileage_per_Year'] = renamed_df['Mileage'] / (renamed_df['Car_Age'] + 1)

# Arrange: Sort by Price descending

In [111]:
arranged_df = renamed_df.sort_values(by='Price', ascending=False)

In [112]:
print("\nTop expensive cars (filtered):")
print(arranged_df.head())

Top expensive cars (filtered):
                               Name    Location  Year  Car_Age  Mileage  \
1340   BMW 5 Series 520d Sport Line       Kochi  2019        6    22.48
5463   BMW 5 Series 520d Sport Line       Delhi  2017        8    22.48
4656       BMW 3 Series Luxury Line       Kochi  2018        7    21.76
1636  BMW 5 Series 520d Luxury Line       Kochi  2018        7    22.48
4468        BMW X1 sDrive 20d xLine  Coimbatore  2019        6    20.68

      Engine  Horsepower  Price  Mileage_per_Year
1340  1995.0      187.74  45.86          3.211429
5463  1995.0      187.74  42.75          2.497778
4656  1995.0      190.00  37.92          2.720000
1636  1995.0      190.00  37.30          2.810000
4468  1995.0      190.00  36.64          2.954286

# Summarize: Average price and total cars per location

In [113]:
grouped_summary = df.groupby('Location')['Price'].agg(['mean', 'count']).reset_index()
grouped_summary.rename(columns={'mean': 'Avg_Price', 'count': 'Total_Cars'}, inplace=True)


# Displaying final results

In [114]:
print("\nAverage price and count per location:")
print(grouped_summary.head())

Average price and count per location:
     Location  Avg_Price  Total_Cars
0   Ahmedabad   8.567248         218
1   Bangalore  13.482670         352
2     Chennai   7.958340         476
3  Coimbatore  15.160206         631
4       Delhi   9.881944         540